.mainPart {
    font-family: "Overpass";
    color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.mainPart h2 {
    font-size: xx-large;
    border-bottom: solid 3px #FE3E57;
}

.recent {
    margin-top: 120px;
    width: 75%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.recent .allPost {
    display: grid;
    height: 100%;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 45% 45%;
    grid-gap: 50px 50px;
    margin: 60px;
}

.Post {
    position: relative;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    border: solid 1px white;
}

.Post img {
    width: auto;
    height: 100%;
}

.Post .postContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    bottom: 0;
}

.Post .postContent .title {
    color: white;
    background-color: #A70048;
    text-align: center;
    height: 25%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 0;
}

.Post .postContent .title h2{
    border: none;
    font-size: 22px;
}

.Post .postContent .resume {
    color: #F7E8C9;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 75%;
    background-color: #1C013B;
    padding: 15px 30px;
    text-align: left;
}

.Post .postContent .resume .contentResume {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.Post .postContent .resume .link a{
    color: #D76C56;
}

