.contentContainer {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    padding: 50px 0;
}

.contentContent {
    width: 100%;
    height: 100%;
}

.contentContent h1 {
    font-size: 60px;
}

.contentContent form {
    width: 100%;
    height: 90%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.contentContent form .cover {
    width: 35%;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.contentContent form .cover label{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.3);
}

.contentContent form .cover label:hover{
    cursor: pointer;
}

.contentContent form .cover input {
    display: none;
}

.contentContent form .cover img {
    height: auto;
    width: 100%;
    background-color: white;
}
.contentContent form input[type='submit'] {
    margin-top: 20px;
    background-color: #A70048;
    color: white;
    padding: 12px 17px;
    font-size: 14px;
    font-family: 'Overpass';
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.contentContent form .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.contentContent form .title div {
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contentContent form .title label {
    font-size: 30px;
    font-weight: bold;
    color: #F7E8C9;
}

.contentContent form .title input {
    width: 80%;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-left: 70px;
    font-size: 20px;
    margin-left: 25px;
}

.contentContent form .title input::placeholder{
    color: rgba(156, 156, 156, 0.5);
}

.contentContent form input[type='submit']:hover{
    cursor: pointer;
}

.popUp {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    display: none;
}

#popUp {
    padding: 15px 25px;
    border: 2px solid white;
    border-radius: 10px;
}

#popUp:hover {
    cursor: pointer;
}

#editor {
    border: none;
    color: black;
    line-height: 40px;
    padding-bottom: 150px;
    max-height: 100%;
}

#getquill {
    position: absolute;
    background-color: black;
    color: white;
    bottom: 20px;
    right: 30px;
    z-index: 40;
    padding: 10px 20px;
}

#getquill:hover {
    cursor: pointer;
}
